beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
clipboard==0.0.4
colorama==0.4.3
idna==2.10
lxml==4.5.2
pip==20.1.1
prompt-toolkit==1.0.14
Pygments==2.6.1
PyInquirer==1.0.3
pyperclip==1.8.0
regex==2020.6.8
requests==2.24.0
selenium==3.141.0
setuptools==47.3.1
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.7
urllib3==1.25.9
wcwidth==0.2.5
wheel==0.34.2